:root {
--bg: #0f3d99;
--fg: #e25344;
}

/* Jost by Owen Earl */
@font-face {
font-family: "Jost";
font-style: normal;
src: url("./fonts/Jost-VariableFont_wght.ttf") format("truetype")
}
@font-face {
font-family: "Jost";
font-style: italic;
src: url("./fonts/Jost-Italic-VariableFont_wght.ttf") format("truetype")
}

html {
background-color:var(--bg);
color: var(--fg);
}

body {
max-width:800px;
padding:10px;
margin:auto;
font-family: "Jost", sans-serif;
}

main {
text-align:center;
}


a {
text-decoration:none;
color: var(--uchu-blue-9);
}

h2 { font-size:1.5em }
h1 { font-size:3em }
h1,h2,h3 {
color: var(--uchu-red-5);
}

p,li,table,dl {
line-height:1.5;
font-size:1.2rem;
}

table {
border-collapse: collapse;
width:100%;
}
td,th {
border-bottom:2px solid;
padding:6px;
}
th { background-color: var(--uchu-blue-8); }

pre {
line-height:1.25;
text-indent:1em;
}
pre, code {
padding: 3px 4px;
border-radius:4px;
}
p code {
color:white;
background-color:var(--uchu-yin-9);
}

img {
max-width: 100%;
}

footer p {
clear:both
}

#nextprev {width:100%}
.next {float:right}
.prev {float:left}
